@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');

.App {
  margin: 0;
  font-family: "Matemasie", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #222222;
}

input {
  height: 40px;
  width: 260px;
  border: none;
  font-size: 16px;
  font-family: "Matemasie", sans-serif;
  border-bottom: 1px solod whitesmoke;
  background: none;
  color: white;
  padding: 0 10px;
  outline: none;
}

.enter {
  height: 40px;
  width: 110px;
  font-size: 16px;
  background: none;
  font-family: "Matemasie", sans-serif;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  color: whitesmoke;
  margin-left: 10px;
}


.enter:hover {
  background: whitesmoke;
  color: #222222;
}

.todo__item {
  position: absolute;
  cursor: move;
  min-width: 215px;
  color: black;
  padding: 1em;
  border-radius: 5px;
  font-family: "Matemasie", sans-serif;
  font-size: 16px;
}

.delete {
  position: absolute;
  right: 5px;
  top: 5px;
  float: right;
  margin-left: 10px;
  font-family: "Matemasie", sans-serif;
  font-size: 16px;
  background: none;
  border: none;
}

.delete:hover {
  color: red;
  cursor: pointer;
}